body{
	background-color:#D8DA3D;
	color:purple;
	font-family:Georgia,"Times New Roman";
	padding-left:180px;
	}
h1{font-size:35px}
/*ggggggggggggggggg*/
nav ul{
	list-style-type:none;
	padding:0;
	margin:0;
	position:absolute;
	top:35px;
	left:20px;
	width:150;
	}
nav li{
	background:white;
	margin:8px;
	padding:6;
	border-right:18px solid black;
}
a{
	text-decoration:none;
}
li:hover{background-color:#99cc00
}
img[att]:hover{cursor:pointer;}
#imagprinc
{width:100px; height:100px; display:block;margin-left:auto;margin-right:auto;}
img{}
#myimage{width:200px;height:200px;display:block;margin-left:auto;margin-right:auto;}

h2{font-size:16px;
background-color:#99cc00;
border:3 solid black; 
box-shadow:0 5px 5px 0 black;
border-radius:4px 0; 
}